$backgound      :   #f4f4f4;

$secondary      :   #f8f8f8, darken(#f8f8f8, 7%), #999, #999;
$red            :   #D32F2F, darken(#D32F2F, 7%), #ffffff, #FFFFFF;
$green          :   #388E3C, darken(#388E3C, 7%), #ffffff, #FFFFFF;
$blue           :   #1976D2, darken(#1976D2, 7%), #ffffff, #FFFFFF;
$pink           :   #C2185B, darken(#C2185B, 7%), #ffffff, #FFFFFF;
$yellow         :   #fbc02d, darken(#fbc02d, 7%), #ffffff, #FFFFFF;
$orange         :   #F57C00, darken(#F57C00, 7%), #ffffff, #FFFFFF;
$gray           :   #757575, darken(#757575, 7%), #ffffff, #FFFFFF;
$black          :   #2e2e2e, darken(#2e2e2e, 7%), #ffffff, #FFFFFF;
$white          :   #FFFFFF, darken(#FFFFFF, 7%) ,#333333, #333333;
//----------- Aditional color  --------------------------------------------//
$purple         :   #7B1FA2, darken(#7B1FA2, 7%), #ffffff, #FFFFFF;
$deep-purple    :   #673AB7, darken(#673AB7, 7%), #ffffff, #FFFFFF;
$indigo         :   #303F9F, darken(#303F9F, 7%), #ffffff, #FFFFFF;
$light-blue     :   #29B6F6, darken(#29B6F6, 7%), #ffffff, #FFFFFF;
$cyan           :   #0097A7, darken(#0097A7, 7%), #ffffff, #FFFFFF;
$teal           :   #00796B, darken(#00796B, 7%), #ffffff, #FFFFFF;
$light-green    :   #7CB342, darken(#7CB342, 7%), #ffffff, #FFFFFF;
$lime           :   #64DD17, darken(#64DD17, 7%), #ffffff, #FFFFFF;
$amber          :   #FFA000, darken(#FFA000, 7%), #ffffff, #FFFFFF;
$deep-orange    :   #F4511E, darken(#F4511E, 7%), #ffffff, #FFFFFF;
$brown          :   #795548, darken(#795548, 7%), #ffffff, #FFFFFF;
$blue-gray      :   #78909C, darken(#78909C, 7%), #ffffff, #FFFFFF;