<!DOCTYPE html>
<html lang="ru">
  <head>
  <meta name="description" content="REACT · ECOMERCE TEMPLATE">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" /> -->
  <meta content="width=device-width,minimum-scale=1.0" name="viewport">
  <meta name="theme-color" content="#2196f3">
  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TOWER">
  <meta name="format-detection" content="telephone=no">
  <meta name="google" content="notranslate">
  <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/main.css">
  <title>REACT · ECOMERCE TEMPLATE WIDTH SSR</title>
</head>
<body>