<!DOCTYPE html>
<html lang="ru">
  <head>
  <meta charset="UTF-8" name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="React + Typescript + SSR" />
  <meta name="google" content="notranslate">
  <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/public/font/montserrat.css">
  <link rel="stylesheet" href="/main.css">
  <title>REACT SSR</title>
</head>
<body>